{% if user.is_authenticated %}
    <h2>Вы вошли как: {{ user.username }}</h2> <a href="/logout/">Выйти</a>
{% else %}
    <h2>Вы вошли как гость</h2> <a href="/login/">Войти</a>
{% endif %}

<ul>
    {% for p in paginator.page_range %}
        <li><a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a></li>
    {% endfor %}
</ul>

{% if quest_list %}
    <h2>List Quest:</h2>
    <ul>
    {% for quest in quest_list %}
        <li>{{ quest.id }} - {{ quest.title }}</li>
        <p><a href="/question/{{ quest.id }}">К вопросу</a></p>
    {% endfor %}
    </ul>
{% else %}
    <p>No Quest!</p>
{% endif %}